.task {
    background: #b9b7b7;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .task.reminder {
    border-left: 5px solid rgb(70, 182, 70);
  }
  
  .task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }